.header {
    background-color: black;
    text-align: center;
    height: 100px;
    top: 0;
}

.header h1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    color: white;
}

.nav {
    overflow: hidden;
    background-color: #9f9f9f;
    height: 40px;
}

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
}

.nav a:hover {
    background-color: #17ff00;
    color: black;
}

.main {
    background-color: rgb(255, 255, 255);
    height: auto;
    padding-bottom: 100px;
}

#main-text {
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
table {
    margin: 0 auto;
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    width: 60%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}
th {
    text-align: left;
}
thead {
    font-weight: bold;
    color: white;
    background-color: #484848;
}
td, th {
    padding: 1em .5em;
    vertical-align: middle;
}
td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: white;

}
button {
    background-color: #ff0059;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #fc3581;
    color: white;
    cursor: pointer;
}
.footer {
    background-color: black;
    text-align: center;
    height: 100%;
    top: 0;
}


