<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Shopping">
    <insert id="save" parameterType="com.icia.shopping.dto.ShoppingDTO">
        insert into member_tbl_02 (custname, phone, address, joindate, grade, city)
            values (#{custname}, #{phone}, #{address}, #{joindate}, #{grade}, #{city})
    </insert>
    <select id="findAll" resultType="shopping">
        select * from member_tbl_02
    </select>
    <select id="findById" parameterType="Long" resultType="shopping">
        select * from member_tbl_02 where custno=#{custno}
    </select>
    <update id="update" parameterType="shopping">
        update member_tbl_02 set custname=#{custname}, phone=#{phone}, address=#{address}, joindate=#{joindate}, grade=#{grade}, city=#{city}
                          where custno=#{custno}
    </update>
    <delete id="delete" parameterType="Long">
        delete from member_tbl_02 where custno=#{custno}
    </delete>






</mapper>